<h1>Here are the Hypocrites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Current_Position</th>
    <th>Image</th>
    <th>Descent</th>
    <th>Twitter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hypocrites.each do |hypocrite| %>
  <tr>
    <td><%= hypocrite.name %></td>
    <td><%= hypocrite.current_position %></td>
    <td><%= hypocrite.image_path %></td>
    <td><%= hypocrite.descent %></td>
    <td><%= hypocrite.twitter %></td>
    <td><%= link_to 'Show', hypocrite %></td>
    <td><%= link_to 'Edit', edit_hypocrite_path(hypocrite) %></td>
    <td><%= link_to 'Destroy', hypocrite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>`
</table>

<br />

<%= link_to 'Add New Hypocrite!', new_hypocrite_path %>
