<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hypocrite.name %>
</p>

<p>
  <b>Current Position:</b>
  <%= @hypocrite.current_position %>
</p>

<p>
  <b>Image Path:</b>
  <%= @hypocrite.image_path %>
</p>

<p>
  <b>Descent:</b>
  <%= @hypocrite.descent %>
</p>

<p>
  <b>Twitter Handle:</b>
  <%= @hypocrite.twitter %>
</p>
<!--
<p>
  <b>State:</b>
  <%= @hypocrite.state_id %>
</p>
-->
<%= link_to 'Edit', edit_hypocrite_path(@hypocrite) %> |
<%= link_to 'Back to the Map', '/' %>
